extends layout

block content
  //h1= title
  //p Welcome to #{title}
  //include indexFunpage.html
  p Welcome
  //include indexFunpageCloud.html
  include indexConainerTables.html
  //include indexFunpage.html

